<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle de usuario</title>
    <link rel="stylesheet" href="/main.css">
</head>
<div class="info" th:if="${infoMessage}">
    <p th:text="${infoMessage}"></p>
</div>
<body>
<h1>Detalle de usuario<span th:text="${user.name}"></span></h1>
<form action="" method="post">
    <label>
        Nombre: <input name="name" type="text" th:value="${user.name}" readonly>
        <br>
    </label>
    <label>
        Apellidos: <input name="surname" type="text" th:value="${user.surname}" readonly>
        <br>
    </label>
    <label>
        DNI: <input name="dni" type="text" th:value="${user.dni}" readonly>
        <br>
    </label>
    <label>
        Email: <input name="email" type="text" th:value="${user.email}" readonly>
        <br>
    </label>
    <label>
        Teléfono: <input name="mobilePhone" type="text"  th:value="${user.mobilePhone}" readonly>
        <br>
    </label>
    <label>
        Birthday: <input name="birthday" type="date" th:value="${#temporals.format(user.birthday, 'yyyy-MM-dd')}" readonly>
        <br>
    </label>
    <label>
        Código postal: <input name="zipCode" type="text" th:value="${user.zipCode}" readonly>
        <br>
    </label>
</form>
<a href="/users">Volver al listado de Usuarios</a>
</body>
</html>